.opcoes {
  padding-inline: 1rem;
  margin-top: 2.5rem;
}

.opcao {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: var(--branco);
  box-shadow: 10px 0 20px -10px var(--cinza);
}

.sobre__contato {
  border: none;
  margin-left: 1.5rem;
  width: 9rem;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: var(--fonte-principal);
  color: var(--preto);
  background-color: var(--branco);
}

.titulo__botao {
  display: flex;
  left: 0;
}

.opcao__sobre {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.opcao__contato {
  margin-bottom: 1rem;
}

.sobre__contato:hover {
  color: var(--rosa);
}

.sobre__contato:active {
  color: var(--rosa);
}

.background__sobre {
  margin: 2rem 16px;
  padding: 1rem 0;
  padding-bottom: 0.1rem;
  border-radius: 12px;
  background-color: var(--branco);
  box-shadow: 10px 0 20px -10px var(--cinza);
}

@media screen and (min-width: 1024px) {
  .opcoes {
    display: none;
  }

  .background__sobre {
    margin-inline: 23vw;
  }
}

@media screen and (min-width: 1640px) {
  .sobre h2,
  .contato h2 {
    font-size: 2.1rem;
  }

  .sobre p,
  .contato p {
    font-size: 1.2em;
  }
}