.info {
    padding-inline: 2rem;
}

.titulo {
    margin-top: 3rem;
    font-size: 1.9rem;
    font-weight: 500;
    color: var(--preto);
}

.texto {
    padding-inline: .5rem;
    margin-top: 1rem;
    line-height: 1.5rem;
    word-spacing: 4px;
    color: var(--preto);
}

.contatos a {
    padding-inline: .5rem;
    color: var(--preto);
}

.contato__numero {
    margin-top: 2rem;
}

.contato__email {
    margin-top: 1rem;
    margin-bottom: 4rem;
}