.cabecalho__nav.active .cabecalho__nav__menu_hamburguer {
	position: absolute;
	margin-left: 81vw;
	transition: 1s;
}

.bi-person-circle {
	color: #00ff6a;
}

.cabecalho__nav__menu_hamburguer {
	background: none;
	cursor: pointer;
	border: none;
	z-index: 1;
	transition: 1.5s;
}

.mobile-menu div {
	width: 32px;
	height: 2px;
	margin: 8px;
	transition: 1s;
	background: var(--preto);
}

.mobile-menu.active .line1 {
	transform: rotate(-45deg) translate(-8px, 8px);
	background-color: var(--branco);
}

.mobile-menu.active .line2 {
	transition: 0.1s;
	opacity: 0;
}

.mobile-menu.active .line3 {
	transform: rotate(45deg) translate(-5px, -7px);
	background-color: var(--branco);
}

@media screen and (min-width: 1640px) {
	.mobile-menu div {
		width: 48px;
		height: 3px;
		margin: 10px;
	}

	.cabecalho__nav.active .cabecalho__nav__menu_hamburguer {
		margin-left: 79vw;
		margin-top: 2.4vh;
	}

	.mobile-menu.active .line1 {
		transform: rotate(-45deg) translate(-10px, 10px);
		background-color: var(--branco);
	}

	.mobile-menu.active .line3 {
		transform: rotate(45deg) translate(-7px, -9px);
		background-color: var(--branco);
	}
}