.cabecalho {
	background: var(--branco);
}

.cabecalho__nav {
	justify-content: space-between;
	margin-inline: auto;
	align-items: center;
	display: flex;
	height: 5rem;
}

@media screen and (min-width: 351px) {
	.cabecalho__nav {
		padding-inline: .2rem;
	}
}

@media screen and (min-width: 450px) {
	.cabecalho__nav {
		padding-inline: 2rem;
		padding-left: 1rem;
	}
}

@media screen and (min-width: 1024px) {
	.cabecalho__nav {
		justify-content: space-around;
		position: fixed;
		height: 6rem;
		width: 100%;
		z-index: 2;
		left: 0;
		top: 0;
		background: var(--branco);
	}

	.fechar__procurar {
		margin-right: 5rem;
	}

	.principal {
		margin-top: 6rem;
	}

	.margin_fixed {
		margin-top: 9rem;
	}
}

@media screen and (min-width: 1640px) {
	.cabecalho__nav {
		height: 7rem;
	}

	.fechar__procurar {
		margin-right: 6rem;
	}

	.principal {
		margin-top: 7rem;
	}

	.margin_fixed {
		margin-top: 10rem;
	}
}