.cabecalho__nav__carrinho {
	width: 45px;
}

.cabecalho__nav__carrinho_img {
	width: 35px;
}

.botoes__carrinho {
	background-color: var(--branco);
}

@media screen and (min-width: 1640px) {
	.cabecalho__nav__carrinho_img {
		width: 42px;
	}
}