.rede__sociais {
  display: flex;
  justify-content: space-evenly;
  padding-inline: 1.5rem;
}

.redes__sociais__icons {
  margin-top: 2rem;
  height: 2.5rem;
}

.titulo__sub {
  margin-top: 3rem;
  padding-inline: 3rem;
}

.titulo__rodape {
  font-size: 1.8rem;
}

.titulo__rodape a {
  color: var(--branco);
}

.rodape__descricao {
  margin-top: 1rem;
  line-height: 18px;
  font-size: 1rem;
  font-weight: 300;
  font-family: var(--fonte-segundaria);
}

.num_email__local {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  line-height: 30px;
  padding-inline: 3rem;
  gap: 2px;
}

.num_email__local a {
  color: var(--branco);
}

.local {
  line-height: 20px;
}

.rodape__icon {
  padding-right: 10px;
}

.rodape__mais__info {
  padding-inline: 3rem;
  margin-top: 2.5rem;
  line-height: 30px;
}

.rodape__titulos {
  margin-top: 30px;
  color: var(--rosa-escuro);
}

.rodape__itens__info a {
  color: var(--branco);
}

.linha {
  height: 1px;
  margin-top: 3rem;
  margin-bottom: 1rem;
  background: var(--rosa);
}

.rodape__creditos {
  margin-top: 2rem;
  padding-inline: 3rem;
  color: var(--rosa-escuro);
}

.creditos1 {
  display: flex;
  justify-content: center;
}

.creditos {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem 0;
}

.creditos2 {
  text-align: center;
}

@media screen and (max-width: 350px) {
  .redes__sociais__icons {
    margin-top: 1.5rem;
    height: 2rem;
  }

  .rodape__descricao,
  .rodape__titulos,
  .rodape__titulos,
  .rodape__itens__info,
  .rodape__creditos {
    font-size: .8rem;
  }

  .num_email__local a {
    font-size: .7rem;
  }
}

@media screen and (min-width: 1024px) {
  .titulo__sub,
  .num_email__local,
  .rodape__mais__info {
    padding-inline: 5rem;
  }

  .titulo__rodape {
    font-size: 2.2rem;
  }

  .rodape__descricao {
    font-size: 1.2rem;
  }

  .num_email__local p {
    font-size: 1.2rem
  }

  .rodape__mais__info {
    font-size: 1.2rem;
  }

  .rodape__descricao {
    padding-right: 50vw;
  }
}

@media screen and (min-width: 1640px) {
  .rede__sociais {
    padding-inline: 3.5rem;
  }

  .redes__sociais__icons {
    height: 3rem;
  }
}