.todos_produtos {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2rem;
	margin-bottom: 2rem;
	gap: 16px;
}

.img_pesquisado {
	width: 80px;
	height: 80px;
}

.link {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-inline: 1.5rem;
	gap: 1.4rem;
}

.details_pesquisado {
	display: flex;
	flex-direction: column;
	word-break: break-word;
	gap: 0.2rem;
	font-size: 1.2rem;
	width: 200px;
}

.link_pesquisa {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 1rem;
}

.pesquisa_vermais {
	cursor: pointer;
	text-decoration: underline;
	font-size: 1.3rem;
	color: var(--cinza);
}

@media screen and (max-width: 350px) {
	.img_pesquisado {
		width: 60px;
		height: 60px;
	}

	.details_pesquisado {
		font-size: 1rem;
	}

	.pesquisa_vermais {
		font-size: 1rem;
	}
}

@media screen and (min-width: 1024px) {
	.todos_produtos {
		padding-inline: 4.5%;
	}

	.link {
		gap: 1rem;
	}

	.img_pesquisado {
		width: 100px;
		height: 100px;
	}

	.pesquisa_vermais {
		font-size: 1.3rem;
	}
}

@media screen and (min-width: 1640px) {
	.todos_produtos {
		padding-inline: 4%;
		gap: 26px;
	}

	.img_pesquisado {
		border-radius: 4px;
		width: 150px;
		height: 150px;
	}

	.details_pesquisado {
		gap: 0.4rem;
		font-size: 1.6rem;
		width: 270px;
	}

	.pesquisa_vermais {
		font-size: 1.6rem;
	}
}