.pesquisa_input {
	margin-left: 1.6rem;
}

.centralizar {
	display: flex;
	align-items: center;
	justify-items: center;
}

.input__procurar {
	z-index: 1;
	cursor: pointer;
	border: none;
	padding: 2px 6px 0 36px;
	width: 80%;
	font-size: 1.45rem;
	background-color: transparent;
}

.input__procurar:focus {
	border: none;
	outline: none;
}

.input__procurar::placeholder {
	color: var(--preto);
}

.img_lupa {
	position: absolute;
	cursor: pointer;
	width: 26px;
}

.linha_pesquisa {
	border: none;
	margin-left: -200px;
	height: 2px;
	background: var(--rosa);
}

.info_pesquisa {
	margin-top: 1rem;
	font-size: 1.2rem;
	margin-bottom: 1.2rem;
}

.box_pesquisa {
	margin-left: -.2rem;
}

@media screen and (max-width: 350px) {
	.img_lupa {
		width: 22px;
	}

	.test_pesq {
		font-size: 1rem;
	}

	.input__procurar {
		font-size: 1.1rem;
	}

	.info_pesquisa {
		font-size: 1rem;
	}
}

@media screen and (min-width: 1024px) {
	.pesquisa_input {
		margin-top: 1rem;
		margin-left: 3.6rem;
	}

	.info_pesquisa {
		font-size: 1.4rem;
	}

	.box_pesquisa {
		margin-left: -.4rem;
	}
}

@media screen and (min-width: 1640px) {
	.pesquisa_input {
		margin-top: 2rem;
		margin-left: 6.6rem;
	}

	.input__procurar {
		font-size: 2.2rem;
		padding: 2px 6px 0 42px;
	}

	.img_lupa {
		width: 34px;
	}

	.linha_pesquisa {
		margin-bottom: 3rem;
	}

	.info_pesquisa {
		font-size: 2rem;
	}
}