.carrinho {
  display: flex;
  flex-direction: column;
  background-color: var(--branco);
}

.car_produto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  justify-content: center;
  justify-items: center;
  overflow: hidden;
  gap: 6px;
  padding-inline: .5rem;
  background-color: var(--branco);
}

.titulo__carrinho {
  display: flex;
  justify-content: center;
  grid-area: 1 / 1 / 1 / 3;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 1.4rem;
}

.titulo_vazio {
  padding-bottom: 4vh;
}

.produto__carrinho {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  margin: 1.5rem 0;
  gap: 20px;
  width: 11rem;
}

.comprar {
  border: none;
  margin-bottom: 3vh;
  margin-inline: 5vw;
  font-size: 1.6rem;
  padding: 20px;
  border-radius: 8px;
  color: var(--branco);
  background-color: var(--rosa);
}

.comprar:hover {
  transform: scale(1);
  background-color: var(--rosa);
  box-shadow: 0 0 15px 5px var(--rosa);
}

@media screen and (min-width: 1024px) {
  .carrinho {
    grid-template-columns: repeat(3, auto);
    margin: 8vh 15vw 6vh 15vw;
    border-radius: 12px;
  }

  .titulo__carrinho {
    grid-area: 1 / 1 / 1 / 4;
    font-size: 1.8rem;
    margin-top: 4vh;
  }

  .produto__carrinho div {
    display: flex;
    text-align: center;
  }

  .comprar {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1640px) {
  .produto__carrinho {
    padding-inline: 1.5rem;
    margin: 2rem 0;
  }

  .titulo__carrinho {
    font-size: 2rem;
  }

  .comprar {
    font-size: 2.1rem;
  }
}