.filtro_lista_item {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
}

.filtro {
  border-radius: 12px;
  padding: 1.4rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--cor-de-fundo);
}

.filtro-label {
  font-size: 1.2rem;
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  padding: .5rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  color: var(--cinza-escuro);
}

.radio-label:hover {
  background-color: var(--cinza-claro);
}

.radio-label input[type="radio"] {
  accent-color: var(--rosa);
  cursor: pointer;
}

.ordenacao {
  margin-block: 1.5rem;
}

.ordenar-select {
  width: 100%;
  padding: 10px;
  margin-top: .2rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: border-color 0.3s ease;
  color: var(--preto);
  border: 2px solid var(--rosa);
}

.ordenar-select:focus {
  outline: none;
}

.mb {
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .filtro_lista_item {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .box_categoria {
    margin-top: 1.1rem;
  }

  .filtro-label {
    font-size: 1.4rem;
  }

  .ordenar-select,
  .radio-label {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1640px) {
  .filtro_lista_item {
    flex-direction: column;
    gap: 10px;
    padding-inline: 2rem;
    border: 3px solid var(--rosa);
    border-left: 0;
    border-top: 0;
  }

  .filtro {
    padding-block: 1.5rem;
    padding-inline: 2rem;
  }

  .radio-label {
    white-space: nowrap;
    font-size: 1.2rem;
    padding: .7rem 1rem;
  }


  .ordenacao {
    margin-top: 2.3rem;
    margin-bottom: 3rem;
  }

  .box_categoria {
    margin-bottom: 2rem;
  }

  .filtro-label {
    white-space: nowrap;
    font-size: 1.7rem;
    margin-bottom: 10px;
  }

  .ordenar-select,
  .radio-label {
    font-size: 1.5rem;
  }

  .filtro_lista_titulo {
    font-size: 2rem;
  }

  .botao_filtros,
  .mb {
    display: none;
  }
}