.produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  justify-content: center;
  justify-items: center;
  overflow: hidden;
  gap: 6px;
  padding-inline: .5rem;
  background-color: var(--branco);
}

.produtos__1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-inline: 1rem;
  margin: 1.5rem 0;
  gap: 20px;
  width: 11rem;
}

.produto__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 1.013rem;
  color: var(--preto);
}

.produto__img {
  height: 11rem;
  width: 11rem;
  border-radius: 5px;
}

.produto__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-inline: 0.2rem;
  gap: 6px;
}

.produto__titulo {
  font-weight: 600;
}

.produto__descricao {
  color: var(--cinza);
  font-family: var(--fonte-segundaria);
}

.produto__valor {
  font-family: var(--fonte-segundaria);
}

.adicionar__carrinho {
  border: none;
  padding: 16px 0;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid var(--preto);
  color: var(--preto);
}

.adicionar__carrinho:hover {
  transition: 0.5s;
  color: var(--branco);
  background-color: var(--preto);
  box-shadow: 0 0 15px 1px var(--preto);
}

.add_car_todos {
  margin-inline: .5rem;
  padding-inline: 1rem;
}

.sem-produtos {
  margin-block: 2rem;
  padding-inline: 1rem;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .produtos {
    margin: 8vh 15vw;
    padding: 5vh 2vw;
    border-radius: 12px;
  }

  .sem-produtos {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1640px) {
  .produtos__1 {
    padding-inline: 2rem;
    margin: 2rem 0;
    width: 17rem;
  }

  .produto__titulo {
    font-size: 1.2rem;
  }

  .produto__descricao,
  .produto__valor {
    font-size: 1.1rem;
  }

  .produto__img {
    height: 14rem;
    width: 14rem;
  }

  .new_design {
    display: flex;
    margin-top: 11rem;
    margin-bottom: 4rem;
  }

  .produtos {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    padding-inline: 4rem;
    margin: 0;
    border-radius: 0;
  }

  .sem-produtos {
    margin-top: 3rem;
    font-size: 2rem;
  }
}