.produto {
  padding-inline: 1.5rem;
  margin: 3rem 12px;
  padding-bottom: 3rem;
  border-radius: 12px;
  background-color: var(--branco);
  box-shadow: 10px 0 20px -10px var(--cinza);
}

.center__foto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto__produto__principal {
  height: 22rem;
  width: 22rem;
  border-radius: 5px;
  margin: 3rem 0 2rem 0;
}

.nome__produto__principal {
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 0.9rem;
  color: var(--preto);
}

.valor__produto__principal {
  margin-bottom: 1.7rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--fonte-segundaria);
}

.descricao__produto__principal {
  margin-bottom: 1.8rem;
  padding-inline: 0.4rem;
  font-size: 1rem;
  letter-spacing: 1px;
  word-spacing: 3px;
  line-height: 22px;
  font-weight: 500;
  font-family: var(--fonte-segundaria);
  color: var(--cinza);
}

.adicionar__carrinho__produto {
  border: none;
  display: flex;
  justify-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
  border-radius: 6px;
  font-size: 2rem;
  font-weight: 500;
  color: var(--branco);
  background-color: var(--rosa);
}

.adicionar__carrinho__produto:hover {
  transform: scale(1);
  box-shadow: 0 0 15px 5px var(--rosa);
}

.produto_carregando {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-block: 1rem;
  margin-inline: 1rem;
  border-radius: 12px;
  background-color: var(--branco)
}

.pesquisa_todos {
  display: grid;
  text-align: center;
  word-break: break-word;
  grid-area: 1 / 3 / 1 / 1;
  padding: 2rem 1.2rem 1rem 1.2rem;
  font-size: 1.2rem;
  background-color: var(--branco);
}

@media screen and (max-width: 350px) {
  .foto__produto__principal {
    width: 250px;
    height: 250px;
  }

  .adicionar__carrinho__produto {
    font-size: 1rem;
  }

  .nome__produto__principal {
    font-size: 1.5rem;
  }
  
  .valor__produto__principal {
    font-size: 1rem; 
  }

  .descricao__produto__principal {
    font-size: .8rem;
  }
}

@media screen and (max-width: 400px) {
  .foto__produto__principal {
    width: 270px;
    height: 270px;
  }
}

@media screen and (min-width: 1024px) {
  .produto {
    padding: 0;
    justify-items: center;
    justify-content: center;
    margin-inline: 8vw;
  }

  .box__produto {
    display: flex;
    align-items: center;
    gap: 5vw;
    padding-block: 8vh;
    padding-inline: 4vw;
  }

  .foto__produto__principal {
    border-radius: 6px;
    margin: 0;
  }

  .adicionar__carrinho__produto {
    padding-inline: 1vw;
  }

  .produto_carregando {
    font-size: 2rem;
    margin-top: 9rem;
    margin-bottom: 3rem;
    padding-block: 2rem;
    margin-inline: 8rem;
    border-radius: 12px;
  }

  .pesquisa_todos {
    grid-area: 1 / 4 / 1 / 1;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1640px) {
  .foto__produto__principal {
    height: 25rem;
    width: 25rem;
  }

  .nome__produto__principal {
    font-size: 2.2rem;
  }

  .valor__produto__principal {
    font-size: 1.7rem;
  }

  .descricao__produto__principal {
    font-size: 1.5rem;
  }

  .adicionar__carrinho__produto {
    font-size: 2.2rem;
  }

  .produto_carregando {
    font-size: 2.5rem;
  }

  .pesquisa_todos {
    padding: 0rem 1.5rem 1rem 1.5rem;
    font-size: 1.7rem;
  }
}