.compartilhar {
  padding-inline: 2rem;
  margin-top: 3rem;
  margin-bottom: 0rem;
}

.compartilhar h2 {
  display: flex;
  justify-content: center;
  line-height: 35px;
  font-size: 1.5rem;
  font-weight: 505;
}

.compartilhar__titulo {
  text-align: center;
  color: var(--preto);
}

.compartilhar__subtitulo {
  margin-bottom: 1rem;
  color: var(--preto);
}

.compartilhar__subtitulo b {
  color: var(--rosa);
}

.compartilhar__fotos {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  gap: 22px;
  margin-bottom: 1rem;
}

.compartilhar__imagens {
  height: 150px;
  width: 150px;
}

.compartilhar__botao {
  display: flex;
  justify-content: center;
  grid-area: 4 / 1 / 4 / 3;
  padding: 1rem 0;
  border-radius: 6px;
  font-size: 2rem;
  font-weight: 500;
  color: var(--branco);
  background-color: var(--rosa);
}

.compartilhar__botao:hover {
  transform: scale(1);
  box-shadow: 0 0 15px 5px var(--rosa);
}

@media screen and (max-width: 350px) {
  .compartilhar {
    margin-top: 1.5rem;
  }

  .compartilhar h2 {
    font-size: 1rem;
  }

  .compartilhar__imagens {
    height: 100px;
    width: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .compartilhar__fotos {
    grid-template-columns: repeat(3, auto);
  }

  .compartilhar__botao {
    grid-area: 4 / 1 / 4 / 4;
  }
}

@media screen and (min-width: 1640px) {
  .compartilhar h2 {
    font-size: 2rem;
    line-height: 42px;
  }

  .compartilhar__botao {
    font-size: 2.3rem;
    padding-block: 2vh;
  }
}