.infos__produto {
	display: flex;
	flex-direction: column;
	font-size: 1.013rem;
	gap: 16px;
	padding: 0 3px;
	margin: 16px 0 42px 0;
	color: var(--preto);
}

.titulo__produto {
	font-weight: 600;
}

.descricao__produto {
	color: var(--cinza);
	font-family: var(--fonte-segundaria);
}

.valor__produto {
	font-family: var(--fonte-segundaria);
}

.adicionar__carrinho {
	border: none;
	padding: 16px 0;
	margin-top: .7rem;
	font-size: 1rem;
	border-radius: 8px;
	border: 1px solid var(--preto);
	color: var(--preto);
	background-color: var(--cor-de-fundo);
}

.adicionar__carrinho:hover {
	transition: 0.5s;
	color: var(--branco);
	background-color: var(--preto);
	box-shadow: 0 0 15px 1px var(--preto);
}

.color {
	color: var(--preto);
}

@media screen and (max-width: 350px) {
	.infos__produto {
		padding: 0 7vw;
	}
}

@media screen and (min-width: 1024px) {
	.infos__produto {
		text-align: center;
		padding: 0 4.2vw;
	}

	.adicionar__carrinho {
		margin-bottom: 2vh;
	}
}

@media screen and (min-width: 1640px) {
	.infos__produto {
		font-size: 1.3rem;
	}

	.adicionar__carrinho {
		font-size: 1.3rem;
	}
}