.principal__novidades__titulo {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.titulo__novidades {
	padding-top: 4px;
	font-size: 1.5rem;
	font-weight: 510;
}

.principal__novidades__subtitulo {
	padding-top: 6px;
	font-size: 1rem;
	font-weight: 350;
	display: flex;
	justify-content: center;
	color: var(--cinza);
}

.principal__novidades__carrossel {
	margin-top: 3rem;
}

@media screen and (max-width: 350px) {
	.titulo__novidades {
		font-size: 1.35rem;
	}

	.principal__novidades__subtitulo {
		font-size: .85rem;
	}
}

@media screen and (min-width: 1024px) {
	.principal__novidades__subtitulo {
		margin-bottom: -2vh;
	}
}

@media screen and (min-width: 1640px) {
	.titulo__novidades {
		font-size: 2.2rem;
	}

	.principal__novidades__titulo img {
		width: 5vw;
	}

	.principal__novidades__subtitulo {
		font-size: 1.5rem;
		margin-bottom: 2vh;
	}
}