.produto__destaque {
  padding-inline: 2rem;
}

.produto__destaque__flex {
  display: flex;
  justify-content: center;
}

.produto__destaque__foto {
  max-width: 80vw;
  max-height: 50vh;
  border-radius: 8px;
  margin: 2.5rem 0 2.5rem 0;
}

.foto__destaque2 {
  max-height: 42vh;
}

.produto__destaque__titulo {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--preto);
}

.produto__destaque__descricao {
  margin-bottom: 2rem;
  line-height: 22px;
  font-size: 1rem;
  font-weight: 300;
  color: var(--preto);
  font-family: var(--fonte-segundaria);
}

.produto__destaque__botao {
  display: flex;
  justify-items: center;
  justify-content: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-radius: 6px;
  font-size: 2rem;
  font-weight: 500;
  color: var(--branco);
  background-color: var(--rosa);
}

.produto__destaque__botao:hover {
  transform: scale(1);
  box-shadow: 0 0 15px 5px var(--rosa);
}

@media screen and (max-width: 350px) {
  .produto__destaque__titulo {
    font-size: 1.7rem;
  }

  .produto__destaque__descricao {
    font-size: .85rem;
  }

  .produto__destaque__botao {
    font-size: 1.7rem;
    padding: .7rem;
  }
}

@media screen and (min-width: 1024px) {
  .produto__destaque {
    display: flex;
    align-items: center;
    gap: 5vw;
  }

  .produto__destaque__titulo {
    margin-top: 5vh;
  }

  .produto__destaque__foto {
    max-width: 35vw;
    max-height: 35vh;
  }

  .produto__destaque__botao {
    text-align: center;
  }
}

@media screen and (min-width: 1640px) {
  .produto__destaque__titulo {
    font-size: 2.7rem;
  }

  .produto__destaque__descricao {
    line-height: 28px;
    font-size: 1.4rem;
  }

  .produto__destaque__botao {
    font-size: 2.5rem;
  }

  .produto__destaque__foto {
    max-width: 45vw;
    max-height: 45vh;
  }
}