:root {
	--cor-de-fundo: #F5F5F5;
	--branco: #ffffff;
	--footer: #252525;
	--preto: #383838;
	--cinza: #697586;
	--azul: #8498AF;
	--rosa: #EEB3C4;
	--rosa-claro: #F8DEE5;
	--rosa-escuro: #BDA6A6;
	--t: #ff0000;

	--fonte-principal: "Poppins";
	--fonte-segundaria: "Montserrat";
}

body {
	font-size: 1rem;
	font-weight: 400;
	font-family: var(--fonte-principal);
	background-color: var(--cor-de-fundo);
}

.input {
	text-transform: capitalize;
}

button {
	cursor: pointer;
}