.login__form_gerenciar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 15vw;
  gap: 12px;
}

.login__input_gerenciar {
  border-radius: 6px;
  padding: 12px 10px 10px 20px;
  width: 100%;
  font-size: 18px;
}

.button_gerenciar {
  cursor: pointer;
  border: none;
  display: flex;
  justify-items: center;
  justify-content: center;
  width: 50%;
  padding: 0.7rem 0;
  border-radius: 6px;
  font-size: 1.3rem;
  color: var(--branco);
  background-color: var(--preto);
}

.opcao_gerenciar {
  margin: 2vh 0;
  font-size: 1.2rem;
}

.radio_gerenciar {
  cursor: pointer;
}

.meio_gerenciar {
  margin-left: 5vw;
  margin-right: 7vw;
}

@media screen and (max-width: 499px) {
  .input_radio_gerenciar {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .titulo_gerenciar {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .button_gerenciar {
    margin-bottom: 2rem;
  }
}